In [ ]:
import numpy as np
import pandas as pd
import codecs
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [ ]:
iris = load_iris()

In [2]:
# import seaborn as sns
# iris_sns = sns.load_dataset("iris")
# iris_sns.shape

(150, 5)

In [3]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
print(iris.rename(columns = {'sepal_length' : 'a'}))

       a  sepal_width  petal_length  petal_width    species
0    5.1          3.5           1.4          0.2     setosa
1    4.9          3.0           1.4          0.2     setosa
2    4.7          3.2           1.3          0.2     setosa
3    4.6          3.1           1.5          0.2     setosa
4    5.0          3.6           1.4          0.2     setosa
..   ...          ...           ...          ...        ...
145  6.7          3.0           5.2          2.3  virginica
146  6.3          2.5           5.0          1.9  virginica
147  6.5          3.0           5.2          2.0  virginica
148  6.2          3.4           5.4          2.3  virginica
149  5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [60]:
df1 = df[["count_of_receiptの合計","name"]].groupby(["count_of_receiptの合計"]).count()
df1

                        name
count_of_receiptの合計
1.0                  1576383
2.0                   117489
3.0                    51080
4.0                    28257
5.0                    18521
6.0                    13041
7.0                     9971
8.0                     7775
9.0                     6233
10.0                    5270

In [73]:
df1.loc[0:5].name.sum()

1791730